<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Colaboradores</title>
</head>
<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" th:action="@{/colaboradores}" th:object="${collaborator}">
		<div layout:include="MensagemGeral"></div>
		<div layout:include="MensagemErro"></div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Novo Colaborador</h1>
					<a class="btn btn-link aw-link-panel" th:href="@{/colaboradores}">Voltar para pesquisa</a>
				</div>
			</div>
			<div class="panel-body">
			
				<input type="hidden" th:field="*{id}" />
				
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Nome</label>
					<input id="name" type="text" class="form-control" th:field="*{name}" />
				</div>
				
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Descri&ccedil;&atilde;o</label>
					<input id="description" type="text" class="form-control" th:field="*{description}" />
				</div>

				<div class="form-group">
					<label for="skills" class="col-sm-2 control-label">Espertises</label>
					<input id="skills" type="text" class="form-control" th:field="*{skills}" />
				</div>
				
				<div class="form-group">
					<label for="role">Função</label>
					<select id="role" class="form-control" th:field="*{role}">
						<option value="">Selecione função</option>
						<option th:each="role : ${roles}" th:value="${role}" th:text="#{|role.${role}|}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="workstation">Local</label>
					<select id="workstation" class="form-control" th:field="*{workstation}">
						<option value="">Selecione local</option>
						<option th:each="workstation : ${workstations}" th:value="${workstation}" th:text="#{|workstation.${workstation}|}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
				
			</div>
		</div>
	</form>
</section>
</html>