<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorator="LayoutPadrao">
<head>
<title>Pesquisa de Colaboradores</title>
</head>
<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisa de Colaboradores</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/colaboradores/novo}">Novo colaborador</a>
			</div>
		</div>
		<div class="panel-body">
			<form method="GET" class="form-horizontal" th:action="@{/colaboradores}" th:object="${filtro}">
			<div class="form-group">
				<div class="col-sm-4">
					<div class="input-group">
						<input class="form-control" placeholder="Qual o nome está procurando?" autofocus="autofocus" th:field="*{name}" />
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>							
					</div>				
				</div>
			</div>
			</form>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-left">Nome</th>
							<th class="text-left">Descri&ccedil;&atilde;o</th>
							<th class="text-left">Espertises</th>
							<th class="text-left">Local de Trabalho</th>
							<th class="text-left">Função</th>
							<th class="text-center">#</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="collaborator : ${collaborators}">
							<td class="text-center" th:text="${collaborator.id}">1</td>
							<td class="text-left" th:text="${collaborator.name}">Pedrão</td>
							<td class="text-left" th:text="${collaborator.description}">Profissional Experiente</td>
							<td class="text-left" th:text="${collaborator.skills}">Java EE, HTML5, CSS3, javascript</td>
							<td class="text-left" th:text="#{|workstation.${collaborator.workstation}|}">Home Office</td>
							<td class="text-left" th:text="#{|role.${collaborator.role}|}">Programador Java</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" 
									data-toggle="modal" 
									data-target="#confirmacaoExclusaoModal" 
									data:name="${collaborator.name}" 
									data:url-apagar="@{/colaboradores/{id}(id=${collaborator.id})}"
									title="Excluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
						<tr th:if="${collaborators.empty}">
							<td colspan="7">Nenhum caloborador cadastrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>